* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body{
    background-color: azure;
    border: 2px solid;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    border-color: hsl(0, 0%, 95%);
    box-shadow: 3px 3px hsl(0, 0%, 80%);
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-size: xx-large;
    margin-top: 220px;
    margin-left: 0;
    margin-bottom: px;
}

.name{
    margin-left: 10px;
    font-family: "Lexend", sans-serif;
    font-weight: 900;
}

.name:hover{
    color: rgb(65, 119, 100);
    transition: ease 0.3s;
}

.about-me{
margin: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.about-text{
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    margin-top: 80px;
}

.about-me img{
    height: 300px;
    border-radius: 400px;
    display: flex;
    justify-content: right;
    
}


.back-button{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.return{
    font-size: 20px;
    font-family: "Lexend", sans-serif;
    font-weight: 800;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    padding: 7px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
}

.return:hover{
    color: rgb(0, 0, 0);
background-color: rgb(173, 173, 173);
transition: ease 0.3s;
}